.game {
  #nonJudge {
    h1 {
      color: Pink;
    }
    p {
      font-size: large;
    }
    #players {
      margin-left: 5px;
    }
    & > .cards {
      ul {
        display: flex;
        flex-direction: row;
      }
    }
    #selected {
      margin:0;
      height: 3em;
      white-space:normal;
      display: inline-block;
      font-size: 2em;
    }
  }
}
