.game {
  margin:0;
  padding:0;
  background-color:red;
  max-width: 100vw;
  height:100%;
  #nonJudge {
    h1 {
      color: Pink;
    }
    p {
      font-size: large;
    }
    #players {
      margin-left: 5px;
    }
    & > .cards {
      ul {
        display: flex;
        flex-direction: row;
      }
      .cardIsSelected{
        box-shadow: 7px 7px 6px rgb(146, 93, 93);
        transform: translateY(-10px);
      }
    }
    #selected {
      margin:0;
      height: 3em;
      white-space:normal;
      display: inline-block;
      font-size: 2em;
    }
    .typeOfCardText{
      margin:0;
      padding:0;
      
    }
  }
}
