.howToPlayContainer {
    font-size: large;
    min-width: 500px;
    width: 500px;
    padding: 40px;
    border-radius: 15%;
    box-shadow: -8px 7px #000;
    border: 3px solid #000;
    background-color: #ffedd1;
}
.howToPlayContainer .cardTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.howToPlayContainer > ul  li {
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 5px;
    line-height: 1.6rem;

}