.card {
    width: 125px;
    height: 150px;
    margin: 5px;
    list-style: none;
    
    p{
        padding-left: 1em;
        padding-top: 1em;
        text-align: left;
        color: #fff;
    }
}
.card:hover{
    transform: translateY(-2px);
    box-shadow: 2px 1px 5px #000;
}
.OP{
    background-color:blue;
}
.noShot{
    background-color:black;
}