#cardsPlayed{
    width: 40vw;
    margin-right:1px;
    display: inline-block;
    min-height: 25vh;
    box-shadow: -5px 5px 5px #000;
    border: 1px solid black;
}
#cardsPlayed ul {
    display: inline-block;
}
#cardsPlayed > ul > li {
    font-size: 1.4em;
    padding:0;
    margin:2px;
    list-style: none;
    text-align: left;
}
#cardsPlayed > .title {
    font-size:2em;
    margin:0;
    padding:0;
    text-align: left;

}

#cardsPlayed > #redCard {
    font-size: 1.4em;
}

#cardsPlayed > h3{
    width: fit-content;
    margin: 0 auto;
    font-size: x-large;
    text-align: center;
}
.OPTitle{
    color: #ebb72e;
}